.center {
  display: grid;
  justify-content: center;
}

.center .optarea {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 800px;
}

.center .optarea .namearea {
  text-align: right;
  font-size: 30px;
}

.center .optarea .namearea input {
  border: none;
  background-color: transparent;
}

.center .optarea .namearea input:focus {
  outline: none;
}

.center .optarea .btnarea .btnelement {
  border: none;
  font-size: 20px;
  width: 75px;
  height: 40px;
}

.center .optarea .btnarea .btnelement:hover {
  color: #d0d0d0;
}

.center .textarea {
  font-size: 14px;
}

.center .showbtnarea {
  text-align: center;
}

.center .imgarea {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 800px;
  height: 500px;
  background: rgba(0,0,0,0.375);
}

.center .urlarea {
  text-align: center;
  width: 1000px;
  word-break: break-all;
}