.center {
  display: grid;
  justify-content: center;
}

.header img {
  margin: 40px 0 20px 150px;
}

.header div {
  text-align: center;
  margin: 20px 0 40px 0px;
}

.header div .title {
  font-size: 40px;
  font-weight: bold;
}

.header div .sentence {
  font-size: 25px;
}

.header div .sentence span {
  font-weight: bold;
}

.center .optarea {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 800px;
}

.center .optarea .namearea {
  text-align: right;
  font-size: 30px;
}

.center .optarea .namearea p {
  color: rgb(170, 0, 170);
}

.center .optarea .namearea input {
  border: none;
  width: 350px;
  text-align: right;
  background-color: transparent;
  font-weight: bold;
  font-size: 100%;
  color: rgb(150, 0, 150);
}

.center .optarea .namearea .reload {
  vertical-align: bottom;
  margin-left: 5px;
  font-size: 30px;
  color: white;
}

.center .optarea .namearea .reload:hover {
  color: rgb(0, 225, 0);
}

.center .optarea .namearea input:focus {
  outline: none;
}

.center .optarea .btnarea .btnelement {
  border: none;
  font-size: 20px;
  width: 75px;
  height: 40px;
}

.center .optarea .btnarea .btnelement:hover {
  color: #d0d0d0;
}

.center .imgarea {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 800px;
  height: 500px;
  background: rgba(0,0,0,0.375);
}

.center .textarea {
  font-size: 14px;
}

.center .optarea .showbtn {
  border: none;
  height: 80px;
  font-weight: bold;
  font-size: 30px;
  background-color: transparent;
  color: white;
}

.center .optarea .showbtn:hover {
  color: rgb(0, 225, 0);
}

.center .optarea .repolink {
  margin-bottom: 35px;
  font-size: 25px;
  color: #596164;
}

.center .optarea .repolink:hover {
  color: #00496D;
}

.center .resultarea .imgarea .wait {
  font-size: 40px;
}

.center .resultarea .urlarea {
  text-align: center;
  width: 800px;
  word-break: break-all;
  margin: 25px 0 50px 0;
}

.center .resultarea .urlarea .clicktitle {
  font-size: 20px;
  margin-bottom: 5px;
}

.center .resultarea .urlarea .url {
  font-size: 15px;
  color: rgba(0,0,0,0.5);
}

.center .resultarea .urlarea .url:hover {
  color: black;
}